<!DOCTYPE html>
<html lang="rewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css"/>
    <script src="../js/vue.js"></script>
    <title>login</title>
</head>
<body>
    

        <div id="app">
            <h2 class="title">登录</h2>
            <div class="inner">
            <form action="/login" method="POST">
                <input type="text" placeholder="请输入用户名"  v-model="userIn.user" ><br>
                <span>{{ usertishi }}</span><br>
                <input type="password" placeholder="请输入密码" v-model="userIn.pass" @keyup.enter="login()"><br>
                <span >{{ passtishi }}</span><br>
                <span>{{ tishi }}</span><br>
                </div>
                <a href="../登录/注册账号.html">没有账号？点击注册</a><br>
                <button type="button" @click="login()" id="login">登录</button>
                <h3 v-show="isShow">{{Info}}</h3>
            </form>
        </div>
    <script src="../js/login.js"></script>

   
  
</body>
</html>